.container {
  background-color: cyan;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(16, minmax(auto, auto));
  grid-template-rows: repeat(16, minmax(auto, auto));
}
